.content {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formCard {
  width: 100%;
  max-width: 400px;
}

.form {
  width: 100%;
}

@media (max-width: 480px) {
  .formCard {
    width: 90vw;
  }
}